.title {
  text-align: center;
  font-weight: 100;
  margin: 170px 0 10px 0;
  font-size: 40px;
}

div.form {
  text-align: center;
}

div.submitButton {
  margin: 20px;
  text-align: center;
}

.round {
  margin: 50px 0;
  text-align: center;
  font-size: 40px;
  font-weight: 150;
}