.connectionStatus {
  text-align: right;
  margin: 10px;
  font-size: 11px;
}

.connectionStatus.success {
  color: green;
}

.connectionStatus.failed {
  color: red;
}

.connectionStatus.inProgress {
  color: orange;
}